<div class="tasks-container">
  <header>
    <img
      src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
      alt="Edit Profile Picture"
      class="profile-pic"
      width="64"
      height="64"
      (click)="editProfile()"
    />
    <button class="btn btn-danger" (click)="onLogOut()">Log Out</button>
    <div *ngIf="isAdmin" class="admin-panel-container">
      <a class="btn btn-primary" [routerLink]="['/admin']">Admin Panel</a>
    </div>
  </header>
  <div class="container">
    <h1>My Tasks</h1>

    <router-outlet></router-outlet>

    <div class="add-task-section" *ngIf="!isAddOrEditRoute()">
      <a
        class="btn btn-primary add-task-button"
        [routerLink]="['add-task']"
        [queryParams]="{ userId: userId }"
      >
        Add Task
      </a>
    </div>

    <div class="tasks-grid" *ngIf="tasks.length > 0 && !isAddOrEditRoute()">
      <app-task
        [task]="task"
        (taskDeleted)="onTaskDeleted($event)"
        (taskUpdated)="onTaskUpdated($event)"
        (editTask)="onEditTask($event)"
        *ngFor="let task of tasks; let i = index"
      ></app-task>
    </div>

    <div *ngIf="tasks.length === 0 && !isAddOrEditRoute()" class="no-tasks">
      <p>No tasks found. Create your first task!</p>
    </div>
  </div>
</div>
